@import 'compass';
@import 'mixins/gradient';

$outer-column-width: 22%;
$inner-column-width: 100% - 2*$outer-column-width;
// table margin:
$margin-vertical: 2; // lines
$margin-horizontal: 3; // em
// offset for white and black background:
$offset: 6px;
$offset-vertical: ($margin-vertical * $base-line-height) - $offset;
$offset-horizontal: ($margin-horizontal * $base-font-size) - $offset;

.color-scheme-preview {
  @include black-gradient;
  margin: {
    right: auto;
    left: auto;
  }
  height: rhythm(24);
  position: relative;
  .palette-bg-1 {
    position: absolute;
    top: $offset-vertical;
    left: $offset-horizontal;
    width: 80%;
    height: 80%;
    background: white;
  }
  .palette-bg-2 {
    position: absolute;
    bottom: $offset-vertical;
    right: $offset-horizontal;
    width: 80%;
    height: 80%;
    background: black;
  }
  .palette {
    position: absolute;
    top: rhythm($margin-vertical);
    right: $margin-horizontal * 1em;
    bottom: rhythm($margin-vertical);
    left: $margin-horizontal * 1em;

    table {
      width: 100%;
      height: 100%;
      tr.primary {
        td {
          height: rhythm(3);
        }
      }
      td {
        text-align: center;
        &.variant1, &.variant3 {
          width: $outer-column-width;
        }
        &.base-color {
          width: $inner-column-width;
        }
        .light, .medium, .dark {
          display: inline;
        }
        .light {
          color: hsl(0, 100%, 100%);
        }
        .medium {
          color: hsl(0, 0%, 50%);
        }
        .dark {
          color: hsl(0, 100%, 0%);
        }
        .hsl {
          @include adjust-font-size-to(11px);
          @include text-shadow(rgba(white, 0.5) 1px 1px 0);
        }
      }
    }
  }
}
